:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme="dark"] {
  --legend-color: #cbd5e1;
}

:root[data-theme="light"] {
  --legend-color: #334155;
}


@import "tailwindcss";
@plugin "daisyui";
@tailwind utilities;
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));